params{
    number_of_rows = 4

    cloudos_url = "https://cloudos.lifebit.ai"
    cloudos_workspace = "5c6d3e9bd954e800b23f8c62" // Lifebit Internal Production
    cloudos_project_name = "automation_tests"
    cloudos_workflow_name = "workflow-2" // https://github.com/lifebit-ai/workflow-2
    cloudos_apikey = "xxxxx"

    job_results_location = "results"
}